<div class="work-group">
    <% if (type == "grid") { %>
            <% for(var slug in public.work._data){ %>
                <div class="work-item grid">
                    <h5 class="work-item-title">
                        <%= public.work._data[slug].title %>
                    </h5>
                    <a href="/work/<%= slug %>" style="background-image: url('/assets/images/work/thumbnails/<%= public.work._data[slug].title %>.png');">
                    </a>
                </div>
            <% }; %>
    <% } else if (type == "sections") { %>
            <% for(var slug in public.work._data){ %>
                <div class="work-item sections">
                    <div class="container">
                        <div class="work-item-cover wow fadeInUp">
                            <a href="<%- public.work._data[slug].url %>" target="_blank">
                                <div class="browser-bar">
                                    <div class="browser-dot-1"></div>
                                    <div class="browser-dot-2"></div>
                                    <div class="browser-dot-3"></div>
                                </div>
                                <div class="cover-source" style="background-image: url('/assets/images/work/thumbnails/<%= public.work._data[slug].cover %>.png');"></div>
                            </a>
                        </div>
                        <div class="work-item-description">
                            <h5 class="work-item-title">
                                <a href="<%- public.work._data[slug].url %>" target="_blank">
                                    <%= public.work._data[slug].title %>
                                </a>
                            </h5>
                             <ul class="tag-list clearfix">
                                <% for(var tag in public.work._data[slug].tags){ %>
                                    <li><%= public.work._data[slug].tags[tag] %></li>
                                <% } %>
                            </ul>
                            <p>
                            <%= public.work._data[slug].description %>
                            </p>
                            <p class="meta-year">
                                <%- public.work._data[slug].year %>
                            </p>
                        </div>
                    </div>
                </div>
            <% }; %>
    <% } else { %>
</div>

	<% for(var slug in public.work._data){ %>
		<h2><a href="/work/<%= slug %>"><%= public.work._data[slug].title %></a></h2>
	<% }; %>

<% } %>