<div class="container">
    <div id="header-title" class="header-title header-group">
        <h4 class="site-title align-center">
            <a href="<%= env_root %>/" id="logo">
                <span class="first">A</span><span class="last">M</span>
            </a>
        </h4>
    </div>
    <div id="header-menu" class="header-menu header-group">
        <ul id="navigation" class="navigation-list">
            <% for (var i in menu) { %>
            <li <%- current.source == menu[i] ? 'class="active"' : '' %>>
                <a class="main-nav-link" href="<%= env_root %><%= menu[i] %>"><%= i %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>