!!!
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Harp Blog Boilerplate
    link(rel="stylesheet", href="/assets/css/app.css")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    article#content
      .container
        .row
          .col-sm-8.main
              != yield
          .col-sm-4.aside
            p: a(href="/"): img.aside-profile-img.aside-img(src="http://placekitten.com/g/200/200")
            p: strong Web Engineer &amp; Designer
            p: small I live in Vancouver, Canada, where I build websites for startups and small 
            p Twitter: 
              a(href="http://twitter.com/#{twitter}") #{twitter}
    footer
      .container
        .row
          .col-sm-6
            p.copyright &copy; 2013 #{title} 
        
    script(src="/assets/js/app.js")