<% if (environment == "development") { 
  var env_set = ""
} else {
  var env_set = root
} %>

<%- partial('_templates/head', {env_root: env_set}) %>
<body>
  <%- partial('_templates/header', {env_root: env_set}) %>
    <section id="main" class="main">
        <h1 class="page-title"><%= page_title %></h1>
        <%- yield %>
    </section>
  <%- partial('_templates/footer', {env_root: env_set}) %>
  <%- partial('_templates/foot', {env_root: env_set}) %>
</body>
</html>