<% if (environment == "development") { 
	var env_set = ""
} else {
	var env_set = root
} %>

<%- partial('_templates/head', {env_root: env_set}) %>
<body>
	<%- partial('_templates/header', {env_root: env_set}) %>

	<div id="introduction" class="introduction">
		<div class="container">
			<h5 class="introduction-subtitle align-center wow bounceInLeft" data-wow-delay="1s">Hi there, I am</h5>
			<h4 class="introduction-title align-center wow bounceInRight" data-wow-delay="2s">Aaron Mazade!</h4>
			<div class="introduction-title-border align-center wow fadeIn" data-wow-delay="3s"></div>
			<p class="lead narrow align-center wow fadeIn" data-wow-delay="3.5s">
				I'm a man of many titles and even more so of talents. You can call me a Front-End Developer, a web designer, a user experience aficionado, or just a stand up guy. I hail from Muskegon, MI, where I concoct my eccentric plans of wold domination.
			</p>
			<p class="lead narrow align-center wow fadeIn" data-wow-delay="3.75s">
				Outside of my creative endeavors I enjoy disc golfing and bowling with friends.
			</p>
		</div>
	</div> <!-- /.introduction -->

	<div class="talents">
		<div class="group skills">
			<div class="narrow">
				<h3 class="group-title wow bounceInLeft" data-wow-delay="4s">Technical Abilities</h3>

				<ul class="skill-list wow fadeIn" data-wow-delay="5s">
					<li>CSS / Sass / Stylus | 85%</li>
					<li>Wordpress | 80%</li>
					<li>Responsive Web Design | 72%</li>
					<li>Static Site Generation | 75%</li>
					<li>Front-End Task Processing | 70%</li>
					<li>Wireframes &amp; Mockups | 60%</li>
					<li>PHP | 45%</li>
					<li>Javascript / jQuery | 40%</li>
				</ul>
			</div>
		</div>
		<div class="group accolades">
			<div class="narrow">
				<h3 class="group-title wow bounceInRight" data-wow-delay="4s">Accomplishments</h3> 

				<ul class="accolade-list wow fadeIn" data-wow-delay="5s">
					<li>2015 Silver Addy with Revel</li>
					<li>Talk on using Gulp as a static site generator GRWebDev Meetup</li>
					<li>November 2013 Awwwards Nominee (LongerDays)</li>
					<li>2X GiveCamp GR Volunteer</li>
				</ul>   
			</div>
		</div>
	</div> <!-- /.talents -->

	<div class="work">
		<h3 class="group-title align-center">Work that I have done</h3>
		<%- partial('_templates/loop-portfolio', {type: 'grid'}) %>
	</div>

	<%- partial('_templates/footer', {env_root: env_set}) %>
	<%- partial('_templates/foot', {env_root: env_set}) %>
</body>
</html>